<section class="primary">
  <strong>{{data.name}}</strong>
</section>

<section class="detail">
  <p>
    {{#if (isNegative data.daysToNext)}}
      Overdue
    {{else}}
      {{#if (lessThan data.daysToNext 1)}}
        Due today
      {{else}}
        Due in {{round data.daysToNext}} days
      {{/if}}
    {{/if}}
  </p>
  <p>
    Every {{data.interval.days}} days
  </p>
</section>

<form action="/plugins/nagbot/formapi/{{data.id}}" method="post">
  <button type="submit" name="button">Mark as done</button>
</form>
