<link rel="stylesheet" href="/styles/nagbot.css" type="text/css"/>

<section class="primary">
  <strong>{{data.name}}</strong>
</section>

<section class="detail">
  <p>
    {{#if (isNegative data.daysToNext)}}
      Overdue
    {{else}}
      {{#if (lessThan data.daysToNext 1)}}
        Due today
      {{else}}
        Due in {{round data.daysToNext}} days
      {{/if}}
    {{/if}}
  </p>
  <p>
    {{#if data.interval.days}}
      Every {{data.interval.days}} days
    {{else}}
      {{#if data.interval.months}}
        Every {{data.interval.months}} months
      {{/if}}
    {{/if}}
  </p>
</section>

<section class="nag-buttons">
  <form action="/plugins/nagbot/formapi/nags/{{data.id}}" method="post" class="nag-button-primary">
    <input type="hidden" name="next" value="{{todayPlusInterval data.interval}}">
    <button type="submit">Mark as done</button>
  </form>
  <form action="/plugins/nagbot/formapi/nags/{{data.id}}" method="post" class="nag-button-secondary">
    <input type="hidden" name="next" value="{{tomorrow}}">
    <button type="submit">I'll do it tomorrow</button>
  </form>
  <form action="/plugins/nagbot/formapi/nags/{{data.id}}" method="post" class="nag-button-secondary">
    <input type="hidden" name="next" value="{{weekend}}">
    <button type="submit">I'll do it on the weekend</button>
  </form>
</section>
<section class="nag-buttons-danger">
  <form action="/plugins/nagbot/formapi/nags/{{data.id}}/delete" method="post" class="nag-button-secondary">
    <button type="submit" class="danger">Delete</button>
  </form>
</section>
