<div class="chart-container">
    <canvas id="temperatures" width="200" height="150"></canvas>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script>
  var ctx = document.getElementById("temperatures");
  var precipitation = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          {{#each data.realTemps}}
          "{{timeStringFromTime this.time}}",
          {{/each}}
        ],
        datasets: [
        {
            label: 'Feels Like (C)',
            data: [
              {{#each data.feelsLikeTemps}}
              {{temperature}},
              {{/each}}
            ],
            borderColor: "{{temperatureColor data.currentTemp}}",
            backgroundColor: [
                {{# each data.feelsLikeTemps}}
                "{{temperatureColor temperature}}",
                {{/each}}
            ],
            fill: false,
          },
          {
            label: 'Temperature (C)',
            data: [
              {{#each data.realTemps}}
              {{temperature}},
              {{/each}}
            ],
            borderColor: "#aaaaaa",
            backgroundColor: [
                {{# each data.realTemps}}
                "{{temperatureColor temperature}}",
                {{/each}}
            ],
            fill: false,
          },
          {
            label: 'Yesterday (C)',
            data: [
              {{#each data.yesterdayTemps}}
              {{temperature}},
              {{/each}}
            ],
            borderColor: "#dddddd",
            backgroundColor: "#dddddd",
            fill: false,
          }
        ],
      },
      options: {
        maintainAspectRatio: false,
        scales: {
        yAxes: [{
          ticks: {
            suggestedMax: {{add data.maxTemp 2}},
            suggestedMin: {{add data.minTemp -2}},
          },
        }],
      },
      },
  });
  </script>
