<div class="chart-container">
    <canvas id="temperatures" width="200" height="150"></canvas>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script>
  var ctx = document.getElementById("temperatures");
  var isPositive = (ctx, value) => (ctx.p0.parsed.y > 0 || ctx.p1.parsed.y > 0) ? value : undefined;
  var precipitation = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {{#each data.temperatures}}
        "{{toTimeString this.time}}",
        {{/each}}
      ],
      datasets: [
        {
          label: 'Temperature (C)',
          data: [
            {{#each data.temperatures}}
            {{temperature}},
            {{/each}}
          ],
          borderColor: 'rgb(0, 0, 255)',
          fill: false,
          segment: {
            borderColor: ctx => isPositive(ctx, 'rgb(255, 0, 0)'),
          }
        }
      ],
    },
    options: {
      pointRadius: 0,
      maintainAspectRatio: false,
      scales: {
        y: {
          suggestedMax: {{add data.maxTemp 2}},
          suggestedMin: {{add data.minTemp -2}},
        },
      },
      plugins: {
        legend: {
          display: false,
        },
      },
    },
  });
  </script>
  