<div class="chart-container">
  <canvas id="precipitation" width="200" height="150"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById("precipitation");
var precipitation = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {{#each data.rain}}
        "{{this.time}}",
        {{/each}}
      ],
      datasets: [
        {
          label: 'PoP (%)',
          cubicInterpolationMode: 'monotone',
          data: [
            {{#each data.rain}}
            {{percentage}},
            {{/each}}
          ],
          borderColor: '#2e6da4',
          backgroundColor: '#337ab7',
          fill: true,
        }
      ],
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 100,
            suggestedMin: 0,
          },
        }],
      },
    },
});
</script>
