<p>{{data.message}}</p>
<div class="chart-container">
  <canvas id="precipitation" width="200" height="150"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById("precipitation");
var precipitation = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {{#each data.rain}}
        "{{toTimeString this.time}}",
        {{/each}}
      ],
      datasets: [
        {
          label: 'Rain (mm)',
          data: [
            {{#each data.rain}}
            {{mm}},
            {{/each}}
          ],
          borderColor: '#2e6da4',
          backgroundColor: '#337ab7',
          fill: true,
        },
        {{#if data.snow}}
        {
          label: 'Snow (mm)',
          data: [
            {{#each data.snow}}
            {{mm}},
            {{/each}}
          ],
          borderColor: '#fdfdfd',
          backgroundColor: '#aeaeae',
          fill: true,
        },
        {{/if}}
      ],
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 0.025,
          },
        }],
      },
    },
});
</script>
