<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Huds Up - Error</title>
  </head>
  <body class="container">
    <p>Something went wrong and the nag could not be {{operationType}}. Please try again later.</p>

    <p>The full error is: {{error}}</p>
  </body>
</html>
