.aqhi-summary {
    margin: 10px;
}

.quality-spectrum {
    width: 100%;
    border-collapse: collapse;
}

.quality-spectrum td {
    height: 10px;
    text-align: center;
    font-size: 1em;
}

.quality-spectrum td.active {
    font-size: 3em;
    font-weight: bold;
}