.body {
  background-color: #eee;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 0.15em solid;
  box-shadow: 0.15em 0.15em 0.3em darkgray;
  flex: 1 1 20em;
  margin: 0.5em;
}

.card.high-priority {
  border-color: #d43f3a;
}

.card.medium-priority {
  border-color: #eea236;
}

.card.low-priority {
  border-color: #4cae4c;
}

.card-header {
  display: flex;
  font-family: "DejaVu Sans Mono";
  justify-content: space-between;
  padding: 0.5em;
}

.card-header.high-priority {
  background: #d9534f;
  color: white;
}

.card-header.medium-priority {
  background: #f0ad4e;
  color: white;
}

.card-header.low-priority {
  background: #5cb85c;
  color: white;
}

.card-body {
  font-family: "Liberation Sans";
  padding: 0.5em;
}

.chart-container {
  height: 200px;
}

a {
  padding: 1em;
}

form .form-element {
  display: block;
  margin: 1em;
}

form .form-control {
  display: block;
  margin: 0.5em;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
