.nag-buttons {
  display: flex;
  justify-content: space-between;
}

.nag-buttons .nag-button-primary {
  flex-grow: 2;
}

.nag-buttons .nag-button-secondary {
  flex-grow: 1;
}

.nag-buttons button {
  width: 95%;
}

.nag-buttons-danger {
  padding-top: 40px;
}

.nag-buttons-danger button {
  color: white;
  background-color: red;
  border-radius: 5px;
  border: 1px black solid;
}
