.temperature-block {
  vertical-align: baseline;
}

.temperature-block .current {
  color: gray;
}

.temperature-block .next {
  font-size: 2em;
}

.temperature-difference {
  font-size: 3em;
}

.temperature-summary {
  display: flex;
  justify-content: space-around;
}

.temperature-summary .detail {
  color: gray;
  font-size: 0.75em;
  vertical-align: middle;
}
